# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# ide
.idea

# testing
/coverage

# env
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem

# logs
npm-debug.log*

# storybook
storybook-static
*.storybook.log